<h1>Burgers</h1>

<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  
  <button type="submit">Make Burger</button>
</form>
